<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yls.app.persistence.mapper.DialogCacheMapper">

	<select id="findDialogByInterDataId" resultType="dialogMoreAndOne2">
		select * 
		from (
			select d.id as id, d.id_ac as id_ac, d.id_dt as id_dt, d.atype as atype, d.id_ap as id_ap, d.mul_dialog_type, d.cid_m_id_dt
			from DIALOG d 
			where d.state = 1
		) d_dmo
		left join(
			select dmo.id as dmo_id, dmo.tname
			from DIALOG_MORE dmo
			where dmo.state = 1
		) dmo
		on d_dmo.id_ap = dmo.dmo_id
		left join (
			select dm.id_d, dm.aptype, dm.aword, dm.awordnum, dm.id as dm_id,
						 aword1type, dm.aword1, aword1near, aword1dyna, aword1para,
						 aword2type, dm.aword2, aword2near, aword2dyna, aword2para,
						 aword3type, dm.aword3, aword3near, aword3dyna, aword3para,
						 aword4type, dm.aword4, aword4near, aword4dyna, aword4para,
						 aword5type, dm.aword5, aword5near, aword5dyna, aword5para
			from DIALOG_MAN dm
		) dm
		on d_dmo.id = dm.id_d
		left join (
			select drs.id_d, drs.answer, drs.id as drs_id 
			from DIALOG_ROBOT_STATIC drs 
			where drs.state = 1
		) drs
		on d_dmo.id = drs.id_d
		left join (
			select dri.id_d, id.url, id.urltest, dri.id as dri_id, id.id as id_id, id.is_front_call
			from DIALOG_ROBOT_INTER dri 
			left join INTER_DATA id 
			on dri.id_di = id.id 
			where id.state = 1
		) dri_id 
		on d_dmo.id = dri_id.id_d
		left join (
			select das.id_d, das.atype as das_atype, das.stype, das.repara, das.sin, das.sinword, das.scripts,
						 das.id as das_id 
			from DIALOG_ANSWER_SCRIPT das 
			where das.state=1
		) das 
		on d_dmo.id = das.id_d
		where dri_id.id_id = #{id};
	</select>
	
	<select id="findDialogExpById" resultType="dialogExp">
		select * 
		from DIALOG_ANSWER_EXP dae
		where dae.state = 1 and dae.id = #{id};
	</select>
	
	<select id="findDialogById" resultType="dialogMoreAndOne2">
		select * 
		from (
			select d.id as id, d.id_ac as id_ac, d.id_dt as id_dt, d.atype as atype, d.id_ap as id_ap, d.mul_dialog_type, d.cid_m_id_dt
			from DIALOG d 
			where d.state = 1
		) d_dmo
		left join(
			select dmo.id as dmo_id, dmo.tname
			from DIALOG_MORE dmo
			where dmo.state = 1
		) dmo
		on d_dmo.id_ap = dmo.dmo_id
		left join (
			select dm.id_d, dm.aptype, dm.aword, dm.awordnum, dm.id as dm_id,
						 aword1type, dm.aword1, aword1near, aword1dyna, aword1para,
						 aword2type, dm.aword2, aword2near, aword2dyna, aword2para,
						 aword3type, dm.aword3, aword3near, aword3dyna, aword3para,
						 aword4type, dm.aword4, aword4near, aword4dyna, aword4para,
						 aword5type, dm.aword5, aword5near, aword5dyna, aword5para
			from DIALOG_MAN dm
		) dm
		on d_dmo.id = dm.id_d
		left join (
			select drs.id_d, drs.answer, drs.id as drs_id 
			from DIALOG_ROBOT_STATIC drs 
			where drs.state = 1
		) drs
		on d_dmo.id = drs.id_d
		left join (
			select dri.id_d, id.url, id.urltest, dri.id as dri_id, id.is_front_call
			from DIALOG_ROBOT_INTER dri 
			left join INTER_DATA id 
			on dri.id_di = id.id 
			where id.state = 1
		) dri_id 
		on d_dmo.id = dri_id.id_d
		left join (
			select das.id_d, das.atype as das_atype, das.stype, das.repara, das.sin, das.sinword, das.scripts,
						 das.id as das_id 
			from DIALOG_ANSWER_SCRIPT das 
			where das.state=1
		) das 
		on d_dmo.id = das.id_d
		where d_dmo.id = #{id_d}
	</select>
	
	<select id="findDialogById4Del" resultType="dialogMoreAndOne2">
		select * 
		from (
			select d.id as id, d.id_ac as id_ac, d.id_dt as id_dt, d.atype as atype, d.id_ap as id_ap, d.mul_dialog_type, d.cid_m_id_dt
			from DIALOG d 
		) d_dmo
		left join(
			select dmo.id as dmo_id, dmo.tname
			from DIALOG_MORE dmo
			where dmo.state = 1
		) dmo
		on d_dmo.id_ap = dmo.dmo_id
		left join (
			select dm.id_d, dm.aptype, dm.aword, dm.awordnum, dm.id as dm_id,
						 aword1type, dm.aword1, aword1near, aword1dyna, aword1para,
						 aword2type, dm.aword2, aword2near, aword2dyna, aword2para,
						 aword3type, dm.aword3, aword3near, aword3dyna, aword3para,
						 aword4type, dm.aword4, aword4near, aword4dyna, aword4para,
						 aword5type, dm.aword5, aword5near, aword5dyna, aword5para
			from DIALOG_MAN dm
		) dm
		on d_dmo.id = dm.id_d
		left join (
			select drs.id_d, drs.answer, drs.id as drs_id 
			from DIALOG_ROBOT_STATIC drs 
			where drs.state = 1
		) drs
		on d_dmo.id = drs.id_d
		left join (
			select dri.id_d, id.url, id.urltest, dri.id as dri_id, id.is_front_call
			from DIALOG_ROBOT_INTER dri 
			left join INTER_DATA id 
			on dri.id_di = id.id 
			where id.state = 1
		) dri_id 
		on d_dmo.id = dri_id.id_d
		left join (
			select das.id_d, das.atype as das_atype, das.stype, das.repara, das.sin, das.sinword, das.scripts,
						 das.id as das_id 
			from DIALOG_ANSWER_SCRIPT das 
			where das.state=1
		) das 
		on d_dmo.id = das.id_d
		where d_dmo.id = #{id_d}
	</select>

</mapper>